#colorchange{
    background-image:linear-gradient(rgb(189, 249, 79),rgb(227, 242, 244)) ;
    border: 1.3px solid rgb(250, 240, 240);
    border-radius: 15px;
    color:rgb(101, 84, 233)
}
body{
    background-image: url('bgc.jpg') ;
     background-repeat: no-repeat; 
    background-size: cover;
}
.content1 h1{
    color: white;
    text-align: center;
    font-size: 3em;
}
.content1 h4{
    color:white;
    text-align: center;
    font-size: 2em;
}
.img1{
    display:inline-block;
    background-image: url('github.jpg');
    opacity: 0.6;
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 150px;
    width:40%;


    text-align: center;
    height:30em;
}
.con1{
   font-size: 20px;
    color: rgb(254, 254, 254);
    display:block;
    float: right;
    margin-right: 150px;
    width:40%;
    text-align: center;
    height:32em;
}
#ll{
    color:rgb(0, 0, 0);
   
    font-family:cursive;
}
